[core]
	excludesFile = ~/.gitignore_global
	editor = vim
[user]
    name = Kazuki Matsumaru
    email = marukaz.jh@gmail.com
[includeIf "gitdir:~/ghq/github.ibm.com/"]
	path = ~/.gitconfig_work
[init]
	defaultBranch = main
[pull]
    rebase = true
